
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #545454
}

.container {
    background-color: steelblue;
    margin: 80px;
    padding: 20px;
    border-radius: 20px;
}

.title {
    text-align: center;
}

.status-wrapper {
    display: flex;
    justify-content: space-around;
    height: 30px;
    margin-top: 25px;
    font-size: 25px
}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: #f2ebd3
}

.game-grid {
    display: grid;
    background-color: #646161;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}

.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: steelblue;
    cursor: pointer;
}


/* if using symbols, assign symbol as value of content */
.x::before {
    content: 'X';
    font-size: 200px;
}

.o::before {
    content: 'O';
    color: #f2ebd3;
    font-size: 200px;
}

.status span {
    color: #f2ebd3;
}


